.navbar-brand a:link, .navbar-brand a:visited, .navbar-brand:hover {
  color:#fff;
  text-decoration: none;
}

#main-container {
  margin-top:20px;
}

footer {
  border-top:thin solid #d9d9d9;
  padding:20px;
  margin:60px 0px;
}
